.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  align-items: center;
}

#titleOfPage {
  font-size: 70px;
  font-weight: 900;
  width: 300px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

textarea {
  max-width: 100%;
}

@media only screen and (max-width: 770px) {
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.intro {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#subtitle {
  align-items: center;
}

H4 {
  text-align: center
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
textarea{
  width: 100%;
  height: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.btnSize{
  width: 120px;
    margin-right: auto;
    float: right;
}
